{% extends 'base.html.twig' %}

{% block body %}

    <h1>Page de création d'article</h1>

    <form action ="" methode="post">

        <input type="text" name="title" placeholder="article">
        <textarea name="content" placeholder="Contenu article"></textarea>
        <input type="text" name="image">
        <button type="submit">Enregistrer</button>
    </form>

{% endblock %}